<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakasys.flyshare.system.dict.dao.DictMapper">



    <resultMap id="BaseResultMap" type="com.kakasys.flyshare.system.dict.model.DictDef">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="dictcode" property="dictcode" jdbcType="VARCHAR"/>
        <result column="dictdesc" property="dictdesc" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="sysid" property="sysid" jdbcType="VARCHAR"/>
        <result column="inuse" property="inuse" jdbcType="BIT"/>
        <result column="predate" property="predate" jdbcType="TIMESTAMP"/>
        <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP"/>

        <collection property="dictInfos" column="id"
                    javaType="ArrayList" ofType="com.kakasys.flyshare.system.dict.model.DictInfo"
                    select="com.kakasys.flyshare.system.dict.dao.DictInfoMapper.queryInfo">
        </collection>

    </resultMap>

    <sql id="Base_Column_List">
        id,
        dictcode,
        dictdesc,
        remark,
        sysid,
        inuse,
        predate,
        modifydate
    </sql>

    <insert id="save" parameterType="com.kakasys.flyshare.system.dict.model.DictDef">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            SELECT upper(REPLACE(UUID(), '-', ''))
        </selectKey>
        INSERT INTO sys_dict
        (<include refid="Base_Column_List"/>)
        VALUES
        (#{id}, #{dictcode}, #{dictdesc}, #{remark}, #{sysid}, #{inuse},
        #{predate,jdbcType=TIMESTAMP},#{modifydate,jdbcType=TIMESTAMP})
    </insert>

    <select id="queryList" resultMap="BaseResultMap"
            parameterType="com.kakasys.flyshare.system.dict.model.DictQueryparams">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dict where 1=1
        <if test="dictcode != null and dictcode!=''">
            and dictcode = #{dictcode}
        </if>
        <if test="inuse != null">
            and inuse = #{inuse}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer"
            parameterType="com.kakasys.flyshare.system.dict.model.DictQueryparams">
        SELECT
        count(*)
        FROM sys_dict where 1=1
        <if test="dictcode != null and dictcode!=''">
            and dictcode = #{dictcode}
        </if>
        <if test="inuse != null">
            and inuse = #{inuse}
        </if>
    </select>

</mapper>